* {
  margin: 0;
  padding: 0;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
}
.box {
  height: 200px;
  width: 500px;
  border-radius: 11px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.test {
  display: flex;
  justify-content: left;
  background-color: #0c0b95;
  color: white;
  padding: 1rem;
  border-radius: 10px 10px 0px 0px;
}

.container {
  margin-top: 2.5rem;
  gap: 2rem;
  display: flex;
  justify-content: center;
  margin-left: 20px;
}
.out {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  border-radius: 5px;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.button-container {
  margin-top: 10%;
  gap: 3rem;
  display: flex;
  justify-content: center;
}
.input {
  border: 1px solid gray;
  border-radius: 5px;
}
.button {
  background-color: #0c0b95;
  color: white;
  padding: 3px;
  border-radius: 7px;
}

.button:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}
.regcontainer {
  height: auto;
  width: auto;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  justify-items: stretch;
  align-items: center;
  gap: 0.7rem;
  padding: 2rem;
}
.routcontainer {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem;
}
.heading {
  border: solid;
  color: white;
  background-color: #0c0b95;
  padding: 15px;
  font-size: 26px;
}

.rform {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 2rem;
  border-radius: 20px;
}

.tu {
  margin-top: 5%;
}
.tx {
  margin-top: 6%;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 6rem;
  background-color: #0c0b95;
  color: white;
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;
}
